html {
  background: url(Image/rainbowBG.jpg);
}

body {
  background: white;
  width: 700px;
  text-align: center;
  padding: 25px 0px;
  margin: 25px auto;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  letter-spacing: 2px;
}

hr {
  width: 500px;
}

.rgb-code {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

span {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

input {
  width: 60px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
  text-align: center;
}

#redIn {
  background: red;
}

#greenIn {
  background: green;
}

#blueIn {
  background: blue;
}

#display {
  width: 400px;
  height: 200px;
  background: rgb(255, 255, 0);
  margin: auto;
  border: 3px solid gray;
}

button {
  background: grey;
  color: white;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 1s;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  color: #7cb58b;
  background: black;
  transition: all 1s;
}

p {
  letter-spacing: 2px;
}

#Wiki {
  font-family: "New Tegomin";
}
